@media(max-width:576px) {
    button.navbar-toggler {
        width: 8%;
    }

    .col-full-width {
        width: 100% !important;
    }

    #mynav div.row button {
        position: absolute;
        top: 15px;
        right: 18px;
    }

    .navbar-items {
        top: -40px;
        right: 15px;
    }
}

@media(max-width:766px) {
    .logo img {
        width: 13rem;
    }

    #mynav div.row {
        margin: 0 !important;
    }

    .navbar-items {
        /*    top: 1.5rem;*/
        right: 16px;
    }

    .navbar-collapse {
        position: relative;
    }
}

@media(max-width:990px) {
    .logo img {
        width: 14rem;
    }

    #mynav div.row {
        margin: 0 !important;
    }

    .col-full-width {
        padding: 0 !important;
    }

    .search_input_field {
        height: 30px;
    }

    .search_bar {
        margin: 5px 0;
    }
    .navbar-items {
        z-index: 1;
        background-color: #423E37;
        position: absolute;
        border-radius: 22px 0 0 22px;
        width: 15rem;
        right: 37px;

    }
    .navbar-items .yellow-capsule {
        background-color: #423e37;
        color: #fff;
        font-size: 1rem;
        border-radius: 0;
    }
}
