/*************************
    HELPER
*************************/
* {
    box-sizing: border-box;
    Font-family: 'Poppins', sans-serif;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}
.container{
    max-width: 1300px;
}
body{
    overflow-x: hidden;
}
/*************************
    HEADER
*************************/
.logo img {
    width: 18rem;
}

#mynav {
    display: block;
}

#mynav div.row {
    margin: .5rem 1rem;
}

.search_bar {
    margin: 3.5px 0;
}

.search_input_field {
    height: 35px;
    border-radius: 25px;
    border-left: solid 1px #fff;
    /*    margin: 3px 0;*/
}

.input-group-text {
    background-color: #fff;
    border-radius: 25px;
    border-right: solid 1px #fff;
}

.navbar-items {
    margin: 0 !important;
    padding: 0;
}

.navbar-items ul {
    text-align: center;
}

.navbar-items .yellow-capsule {
    background-color: rgba(227, 178, 60, 0.7);
    color: #fff !important;
    border-radius: 22px;
    display: inline-block;
    font-size: .8rem;
    padding: .3rem 1.2rem !important;
    margin: .5rem 0;
}

.navbar-light .navbar-toggler {
    border: none;
    font-size: 1rem;
    outline: none;
}
.form-control:focus{
    border-top: solid 1px #ced4da;
    border-bottom: solid 1px #ced4da;
    border-left: solid 1px transparent; 
    box-shadow: none;
}
/* =========================================
            HOME SECTION
============================================ */
#home{
    width: 100%;
    height: 38rem;
    color: #fff;
/*    overflow: hidden;*/
}

#home-overlay{
    background-image:linear-gradient(to right,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.6));
    width: 100%;
    height: 46rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}
.bg-img{
    width: 100%;
    height: 46rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.news-heading{
     margin: 3rem 0 2rem 0;
}

.news-body h6{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: rgba(255,255,255,0.7);
    margin: 2rem 0;
}
.yellow-divider{
    background-color: rgba(227, 178, 60, 0.7);
    border: solid 1px rgba(227, 178, 60, 0.7);
}

i.fa-comment,
i.fa-clock,
i.fa-eye{
    margin-right: 5px;
}
.news-info i{
    color: rgba(227, 178, 60, 0.7);
}

.news.owl-theme .owl-nav{
    text-align: left;
    margin: 80px 0 45px 0;
}
.news.owl-theme .owl-nav [class*=owl-]{
    background: none;
    font-size: 2.5rem;
    color: rgba(227, 178, 60, 0.7);
    line-height: 2rem;
    margin: 0;
    padding: 0;
}
.news.owl-theme .owl-nav [class*=owl-]:first-child{
    margin-right: 20px;
}

/*******************************
Whats new section
*******************************/
#whats-new{
    background: #fff;
    padding: 70px 0;
}
.row.heading{
    margin-left: 85px;
   }
.row.heading span{
    background: rgba(227, 178, 60,1);
    color: #fff;
    padding: 0px 40px;
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}
.row.heading span::before,
.row.heading span::after{
    content:'';
    position:absolute;
    width:113px;
    height:2px;
    background-color:#000;
    top:15px;
}
.row.heading span::before{
 left:15px;   
}

.row.heading span::after{
 left:310px;   
}
.post-body img{
    border-radius: 12px;
}
.post-body h4{
    text-align: justify;
    color: #423E37;
    margin: 30px 0 10px 0;
}
.post-body p{
    margin-bottom: 10px;
    text-align: justify;
     color: #423e37;
    opacity: .73;
}
.post-body p span{
    font-size: .9rem;
    display: inline-block;
    width: 49.5%;
}
.post-body p span:last-child{
    text-align: right;
}
.post-body .col-md-6{
    padding-left: 0px;
}
/*** MULTIPLE POSTS**/
.multiple-posts{
    padding: 0;
}
.multiple-posts .row{
    width: 100%;
    margin: 0 auto;
}
.multiple-posts .row img{
    margin-top: 30px;
}
.multiple-posts .row:first-child img{
    margin-top: 0px;
}
.multiple-posts-content{
    margin-top: 30px;
    padding: 0;
}
.multiple-posts .row:first-child .multiple-posts-content{
    margin-top: 0px;
}
.multiple-posts-content span{
    padding: 0;
}
span.badge{
    background-color: #EDEBD7;
    color:  rgba(227, 178, 60, 1);
    padding: 5px 10px;
    border-radius: 22px;
    margin-bottom: 5px;
}
.multiple-posts-content span:last-child{
    font-size: .9rem;
    color: #423E37;
/*    font-weight: 400;*/
}

/*******************************
POST CONTENT
*******************************/
.whats-new-sidebar{
    padding-left: 107px;
}
.whats-new-sidebar .row{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.whats-new-sidebar img{
    border-radius: 12px;    
}

.whats-new-sidebar .row:last-child{
    margin-bottom: 0;
}
#whats-new-sidebar-overlay{
    background: rgba(0,0,0,.5);
    z-index: 1;
    width: 203px;
    position: absolute;
    border-radius: 12px;
}
.whats-new-sidebar .row:nth-child(1) #whats-new-sidebar-overlay{
    height: 134.55px;
}
.whats-new-sidebar .row:nth-child(2) #whats-new-sidebar-overlay{
    height: 123px;
}
.whats-new-sidebar .row:nth-child(3) #whats-new-sidebar-overlay{
    background: rgba(0,0,0,.3);
    height: 114.25px;
}
.whats-new-sidebar .row:nth-child(4) #whats-new-sidebar-overlay{
    background: rgba(0,0,0,.7);
    height: 114.25px;
}
.whats-new-sidebar .text{
    position: absolute;
    align-self: center;
    color: #fff;
    z-index: 1;
    margin: 0 20px;
    width: 10.2rem;
}
.whats-new-sidebar .text span{
    font-size: 1.5rem;
    font-weight: 600;
}
.text .new-posts-number{
    margin-left: 20px;
    background-color: rgba(227, 178, 60, .7);
    padding: 5px 15px;
    border-radius: 50%;
    position: absolute;
    right: -0px;
    top: -5px;
}

/*******************************
TECH CONTENT
*******************************/
#tech{
    background: #edebd7;
    padding: 70px 0;
}
#tech .post-body .col-md-6{
    padding-right: 30px;
}
#tech .row.heading span::before, 
#tech .row.heading span::after {
    top: 55px;
    background: #fff;
}
#tech .multiple-posts{
    width: 100%;
}
#tech .multiple-posts>.row{
    margin-top: 30px;
}
#tech .multiple-posts img{
    margin-top: 0px;
}
#tech .multiple-posts .multiple-posts-content{
    padding-left: 20px;
}
.tech-content{
    background: #111111;
    padding: 40px;
    border-radius: 12px;
}

.tech-content .post-body .row{
    width: 100%;
    margin: 0;
}
.tech-content .post-body h4,
.tech-content .post-body p,
.tech-content .post-body{
    color: #fff;
    opacity: 1;
    margin-top: 0px;
    padding-bottom: 0;
}
.tech-content .row.heading span::before{
    left: 40px;
}
.tech-content .row.heading span::after {
    left: 245px;
}
.tech-content .multiple-posts-content span:last-child{
    margin-top: 5px;
    color: #fff;
}
.tech-sidebar .top-stories{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.tech-sidebar .post div:last-child{
    left: 9.3rem;
    top: -5.2rem;
}
.tech-sidebar #top-stories-body.owl-theme .owl-dots{
    left: 12.2rem;
    top: -37.2rem;
}
.tech-sidebar .top-stories,
.tech-sidebar #top-stories-body.owl-theme .owl-nav [class*=owl-]
{
    background: #111;
}
.tech-sidebar #top-stories-body.owl-theme .owl-nav{
    top: -35.2rem;
}
/*******************************
POST CONTENT
*******************************/
.left-column {
    margin: 50px 40px 50px 120px;
}

.post-content {
    width: 90%;
    padding: 60px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: -15rem;
}

.post-title {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 4rem;
}

.post-sub-title {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #423E37;
    text-align: justify;
}

.post-body {
    color: #707070;
    text-align: justify;
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
}


/************************
SIDEBAR
***********************/
.top-stories {
    margin: 50px 120px 50px 0;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    height: 500px;
/*    overflow: hidden;*/
}

.top-stories-heading {
    padding: 30px;
}

.top-stories-heading h6 {
    margin: 0;
}

.post {
    height: 100px;
/*    overflow: hidden;*/
    /*    margin-bottom: 25px;*/
}

.post div {
    display: inline-block;
    padding: 0 5px;
}

.post div img {
    border-radius: 12px;
}

.post div:last-child {
    font-size: .7rem;
    line-height: 15px;
    text-align: justify;
    position: relative;
    top: -4.5rem;
    left: 8.135rem;
    display: inline-block;
    padding: 0 10px 0 5px;
}

/*************
SIDEBAR OWL CAROUSEL
*************/
#top-stories-body.owl-theme .owl-nav [class*=owl-] {
    background: #000;
    color: #fff;
    margin: 5px 10px;
}

#top-stories-body.owl-theme .owl-nav {
    margin-top: 0px;
     position: relative;
    top: -28.6rem;
    right: -4rem;
}

#top-stories-body.owl-theme .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
    margin: 3px;
    background: #fff;
}

#top-stories-body.owl-theme .owl-dots .owl-dot.active span {
    background: #e3b23c;
}

#top-stories-body.owl-theme .owl-dots {
    position: relative;
    top: -30.6rem;
    left: 11.1rem;
    display: inline-block;
}
/*************
SOCIAL MEDIA
*************/
.social-media{
    margin: 50px 120px 50px 0;
}
.social-media-heading{
    margin: 0 auto;
}
.social-media-count{
    width: 100%;
    margin:5px 0;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
}
.social-media-content{
    text-align: center;
}
.social-media-content i{
    margin: 0 5px;
}
.facebook{
    background: #49A7F3;
}
.twitter{
    background: #4B6CD0;
}
.youtube{
    background: #FF0000;
}
.google-plus{
    background: #DF3D3D;
}